
.header {
    background-color: #d8fff5;
    text-align: center;
    padding: 15px 0;
}

.header h1 {
    color: #006666;
}


.menu {
    background-color: #eaf7ff;
    text-align: center;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #0077cc;
    margin: 0 15px;
    font-weight: bold;
}

.menu a:hover {
    color: #003366;
}


.container {
    width: 95%;
    margin: 30px auto;
}


.service-table {
    width: 100%;
    border-collapse: collapse;
}

.service-table th,
.service-table td {
    border: 1px solid #4a5d73;
    padding: 15px;
}

.service-table th {
    background-color: #bfeaff;
    text-align: center;
}

.service-table td {
    background-color: #f8fcff;
}

.service-table tr:hover td {
    background-color: #e6f7ff;
}


.footer {
    background-color: #0a6f6f;
    color: white;
    text-align: center;
    padding: 12px 0;
    margin-top: 30px;
}
