
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #d8fff5;
    text-align: center;
    padding: 15px 0;
}

.header h1 {
    color: #006666;
}


.menu {
    background-color: #eaf7ff;
    text-align: center;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #0077cc;
    margin: 0 15px;
    font-weight: bold;
}

.menu a:hover {
    color: #003366;
}


.container {
    width: 90%;
    margin: 20px auto;
}


.image-box {
    text-align: center;
    margin-bottom: 30px;
}

.image-box img {
    width: 80%;
    max-width: 900px;
}


.intro h2,
.services h2 {
    color: #0077cc;
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 30px;
}


.services ul {
    list-style-type: disc;
    padding-left: 20px;
}

.services li {
    margin-bottom: 5px;
}

.footer {
    background-color: #0a6f6f;
    color: white;
    text-align: center;
    padding: 12px 0;
    margin-top: 30px;
}
